.container-1 {

    background: linear-gradient($v-l-red, $l-red);
    color: $white;

    &__header,
    &__cta-section {
        margin: 0 auto;
        width: 90%;
    }

    &__header {
        padding-top: 2.8125rem;
        position: relative;
    }

    .header {

        &__sub {
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            height: 33px;
        }

        // hamburger menu button
        &__menu-btn {
            height: 20px;
            flex-direction: column;
            justify-content: space-between;
width: 26px;

            &:hover {
                cursor: pointer;
            }

            & span {
                display: block;
                border: 1px solid $white;
                width: 31px;
            }

        }

        .menu {
            background: $white;
            border-radius: 4px;
            color: $v-d-desat-blue;
            left: 50%;
            padding-bottom: 1rem 0;
            position: fixed;
            text-align: center;
            top: 5rem;
            transform: translate(-50%, 32px);
            width: 90%;


            .navigation {

                border-bottom: 1px solid $grayish-blue;
                margin-bottom: 2rem;
                padding: 0.5rem 0 0.8rem 0;

                &__option {

                    height: max-content;
                    //border: 1px solid red;
                    //overflow-y: hidden;
                    padding-top: 0.5rem;
                    &:not(:last-child){
                        margin-bottom: 0.8rem;
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        overflow-y: hidden;
                        height: 37px;
                    }
                }

                &__dropdown {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 0.8rem;
                }

                &__option-title {
                    margin-right: 5px;
                }

                &__dropdown-options {
                    background: $grayish-blue;
                    border-radius: 4px;
                    color: $v-d-grayish-blue;
                    margin: 0 auto;
                    padding-top: 0.5rem;
                    width: 87%;
                    //display: none;
                }

                &__dropdown-option-link {
                    display: block;
                    padding: 0.5rem 0;
                }

            }

        }
    }
}

// header