.container-1 {

    background: linear-gradient($v-l-red, $l-red);
    color: $white;
    text-align: center;


    &__header,
    &__cta-section {
        margin: 0 auto;
        width: 90%;
    }

    &__header {
        padding-top: 2.8125rem;
        position: relative;
    }

    .header {
        position: relative;

        .overlay {
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.185));
            height: 100vh;
            left: 0;
            opacity: 0;
            position: fixed;
            visibility: hidden;
            width: 100%;
            top: calc(2.8125rem + 3.1875rem);
        }

        &__sub {
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            height: 33px;
        }

        // hamburger menu button
        &__menu-btn {
            height: 20px;
            flex-direction: column;
            justify-content: space-between;
            width: 26px;

            &:hover {
                cursor: pointer;
            }

            >span {
                display: block;
                border: 1px solid $white;
                transition: 0.3s ease-in-out;
                transform-origin: 3px 1px;
                width: 31px;
            }

        }

        .menu {
            background: $white;
            border-radius: 4px;
            box-shadow: 4px 8px 14px 7px rgba(0, 0, 0, 0.212),
                -4px 8px 14px 7px rgba(0, 0, 0, 0.212);
            color: $v-d-desat-blue;
            left: 50%;
            opacity: 0;
            padding-bottom: 1.3rem;
            position: fixed;
            text-align: center;
            top: 4rem;
            transform: translate(-50%, 32px);
            visibility: hidden;
            width: 90%;

            .navigation {

                padding: 0.5rem 0 0 0;

                &__option {

                    max-height: 37px;
                    overflow-y: hidden;
                    padding-top: 0.5rem;
                    transition: all 0.3s ease-in-out;

                    &:not(:last-child) {
                        margin-bottom: 0.8rem;
                    }
                }

                &__dropdown {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 0.8rem;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .arrow {
                    transition: all 0.3s ease-in-out;
                    transform-origin: center 2.5px;

                }

                // when dropdown is opened
                .active{
                    color: $v-d-grayish-blue;
                }

                // for arrow when dropdown is opened
                .opened {
                    transform: rotate(180deg)
                }

                &__option-title {
                    margin-right: 5px;
                }

                &__dropdown-options {
                    background: $grayish-blue;
                    border-radius: 4px;
                    color: $v-d-grayish-blue;
                    margin: 0 auto;
                    width: 87%;
                }

                &__dropdown-option-link {
                    display: block;
                    padding: 0.5rem 0;

                    &:hover {
                        background: darken($grayish-blue, 5%);
                    }
                }

            }

            hr {
                border: 1px solid $grayish-blue;
                display: inline-block;
                margin-bottom: 0.5rem;
                width: 87%;
            }

        }

    }

    .open {

        .overlay {
            animation: fade-in 0.3s ease-in-out forwards;
        }

        & span:nth-child(1) {
            transform: rotate(45deg)
        }

        & span:nth-child(2) {
            opacity: 0;
        }

        & span:nth-child(3) {
            transform: rotate(-45deg)
        }

        .menu {
            animation: fade-in 0.3s ease-in-out forwards, slide-in 0.3s ease-in-out forwards;
        }
    }
}