/*=====================
    COLORS
======================*/

// light red 
$l-red: hsl(356, 100%, 66%);

// very light red 
$v-l-red: hsl(355, 100%, 74%);

// very dark blue 
$v-d-blue: hsl(208, 49%, 24%);

// white 
$white: hsl(0, 0%, 100%);

// grayish blue 
$grayish-blue: hsl(240, 2%, 79%);

// very dark grayish blue 
$v-d-grayish-blue:hsl(207, 13%, 34%);

// very dark black blue 
$v-d-black-blue: hsl(240, 10%, 16%);

// very dark gray blue 
$v-d-gray-blue: hsl(237, 17%, 21%);

// very dark desaturated blue 
$v-d-desat-blue: hsl(237, 23%, 32%);

// very lighter light red 
$v-l-l-red: hsl(13, 100%, 72%);

// lighter light blue 
$l-l-red: hsl(353, 100%, 62%);