.navigation__dropdown {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: to-rem(12.8);

    @include breakpoint(tablet) {
        margin:0;
    }
    &:hover {
        cursor: pointer;
    }
}
