.navigation__dropdown-option-link {
    display: block;
    font-size: to-rem(14.5);
    font-weight: 600;
    padding: to-rem(8) 0;

    &:hover {
        background: darken($l-grayish-blue, 5%);
    }

    @include breakpoint(tablet){
        padding: to-rem(4);
        padding-left: to-rem(30);
        font-weight: 300;

        &:hover{
            background:unset;
            font-weight: 600;
        }
    }
}