* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
*   1) added this to remove the extra white space that appear
*      on the left side of the html document
*/
html {
    font-size: 16px;
    overflow-x: hidden; // 1
}

body {
    background: $white;
    font-family: $font-overpass;
    line-height: 1.5;
    overflow-x: hidden;
}

// applied to html when menu is open
.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $font-ubuntu;
}

a {
    color: inherit;
    text-decoration: none;

    &:visited {
        color: unset;
    }

    &:hover {
        cursor: pointer;
    }
}