// margin-bottom-extra-large
$m-b-xl: 84;

// margin-bottom-large
$m-b-l: 66;

// margin-bottom-large
$m-b-m: 37;

// margin-bottom-medium
$m-b-s: 27;

// curve value for border-radius
$curve-val: 95;
