.navigation {
    padding-top: to-rem(8);

    // when dropdown is opened
    .active {
        color: $v-d-grayish-blue;
    }

    // for arrow when dropdown is opened
    .opened {
        transform: rotate(180deg)
    }
}