.container {
    text-align: center;
}

.container-1 {
    background: linear-gradient(
            hsla(13, 100%, 72%, 0.945),
            rgba(255, 61, 84, 0.925)
        ),
        url("../../images/bg-pattern-intro.svg");
    background-position: 37% 35%;
    background-size: 380%;
    border-bottom-left-radius: to-rem($curve-val);
    color: $white;
    margin-bottom: to-rem(88);
    padding-bottom: to-rem(120);
    text-align: center;

    @include breakpoint(mobile-m) {
        background-position-y: 40%;
    }

    @include breakpoint(mobile-l) {
        background-position-y: 46%;
        border-bottom-left-radius: to-rem(150);
    }

    @include breakpoint(tablet) {
        margin-bottom: to-rem(58);
        border-bottom-left-radius: to-rem(130);
    }

    &__header,
    &__cta-section {
        margin: 0 auto;
        width: 90%;

        @include breakpoint(mobile-m) {
            width: 84%;
        }

        @include breakpoint(tablet) {
            width: 94%;
        }

        @include breakpoint(laptop-s) {
            width: 86%;
        }

        @include breakpoint(laptop-m) {
            width: 80%;
        }

        @include breakpoint(laptop-l) {
            width: 78%;
        }
    }

    @include breakpoint(tablet) {
        background-position-x: 32%;
        background-position-y: 50%;
        background-size: 245%;
    }
}

.container-2 {
    @include breakpoint(tablet) {
        background-image: url("../../images/illustration-editor-desktop.svg"),
            url("../../images/illustration-laptop-desktop.svg");
        background-repeat: no-repeat;
        background-position: 500% 1%, -340% 75%;
        background-size: 88%;
        padding-top: to-rem(70);
    }

    @media (min-width: to-em(860)) {
        background-size: 86%;
        background-position: 430% -1%, -290% 75%;
    }

    @media (min-width: to-em(902)) {
        background-size: 76%;
        background-position: 240% 0%, -120% 75%;
    }

    @media (min-width: to-em(980)) {
        background-size: 72%;
        background-position: 200% 0%, -90% 75%;
    }

    @include breakpoint(laptop-s) {
        background-size: 69;
        background-position: 210% 0%, -90% 75%;
    }

    @media (min-width: to-em(1104)) {
        background-size: 67%;
        background-position: 168% 0, -60% 75%;
    }

    @media (min-width: to-em(1136)) {
        background-size: 62%, 67%;
        background-position: 148% 0, -60% 75%;
    }

    @media (min-width: to-em(1242)) {
        background-size: 60%, 67%;
        background-position: 145% 0, -60% 75%;
    }

    @media (min-width: to-em(1300)) {
        background-size: 58%, 67%;
        background-position: 140% 0, -60% 75%;
    }
}
