.container-1 {

    background: linear-gradient(hsla(13, 100%, 72%, 0.952),rgba(255, 61, 84, 0.952)),
        url('../../images/bg-pattern-intro.svg');
    background-position: 38% 45%;
    background-size: 360%;
    color: $white;
    text-align: center;


    &__header,
    &__cta-section {
        margin: 0 auto;
        width: 90%;
    }
}