.container-1__header {
    padding-top: to-rem(45);
    position: relative;
    margin-bottom: to-rem(90);

    @include breakpoint(tablet) {
        @include --flex;
    }
}

/***********
*    STATES
***********/

.--is-open {
    .overlay {
        animation: fade-in 0.3s ease-in-out forwards;
    }

    & span:nth-child(1) {
        transform: rotate(45deg);
    }

    & span:nth-child(2) {
        opacity: 0;
    }

    & span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu {
        animation: fade-in 0.3s ease-in-out forwards,
            slide-in 0.3s ease-in-out forwards;
    }
}
