.main__title {
    @include set-mb($m-b-m);
    color: $v-d-blue;

    @include breakpoint(mobile-s){
        font-size: to-rem(26);
    }

    @include breakpoint(mobile-m){
        font-size: to-rem(28);
    }

    @include breakpoint(tablet){
        @include set-mb(72);
    }

    @include breakpoint(laptop-m){
        @include set-mb(100);

        font-size: to-rem(30);
    }
}
