.main__section {
    @include set-mb($m-b-xl);

    /**
    * added specific styling to this image because
    * it looks smaller than the other images even
    * though they are all set to the same size
    * (did this to make it look more like in the design)
    */
    .laptop-img {
        width: 140%;

        @include breakpoint(mobile-m) {
            width: 135%;
        }

        @include breakpoint(mobile-l) {
            max-width: to-rem(620);
        }
    }

    @include breakpoint(tablet) {
        position: relative;
    }
}

/**
* 1) added position relative so that I can center the 
*    image, because when setting the width above 100%,
*    image does not look like its in the center of parent
*  2) a fix to the bug that causes the image to move
*     away from the center of the page
*     -this fix keeps image in the center
*/
.main img {
    @include set-mb($m-b-m);

    width: 105%;
    position: relative; // 1
    left: 50%; // 1
    transform: translateX(-50%); // 1

    @include breakpoint(mobile-m) {
        width: 100%;
    }

    @include breakpoint(mobile-l) {
        max-width: to-rem(477);
    }

    @media (min-width: to-em(520)) {
        margin-right: 10% * 3.5; // 2
    }

    @include breakpoint(tablet) {
        margin: 0;
        left: 0;
        position: absolute;
        transform: unset;
    }
}

.section-card {
    // add margin to all cards but not the last card
    &:not(:last-child) {
        @include set-mb($m-b-m);
    }

    &__heading {
        @include set-mb($m-b-s);

        font-size: to-rem(23);
        font-weight: 700;
        color: $v-d-blue;

        > span {
            display: block;
        }

        @include breakpoint(mobile-s) {
            font-size: to-rem(25);
        }

        @include breakpoint(mobile-m) {
            font-size: to-rem(27);
        }

        @include breakpoint(tablet) {
            font-size: to-rem(23);

            > span {
                display: inline;
            }
        }
    }

    @include breakpoint(tablet) {
        &:not(:last-child) {
            margin: 0;
        }

        text-align: left;
    }
}

.paragraph {
    color: $v-d-gray-blue;
    max-width: 35ch;
    margin: 0 auto;

    @include breakpoint(tablet) {
        margin: 0;
        text-align: left;
        max-width: 56ch;
    }
}

.section-1 {
    /**
    *  1)
    * -added more to make up for the phones image being
    *  moved up
    * -this caused the image to overlap the text in the
    *  section-1 div, hence more margin
    */
    @include set-mb($m-b-xl + 151); // 1

    @include breakpoint(tablet) {
        @include --grid;

        gap: to-rem(30) 0;
        grid-template-columns: 55% 40%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "b a"
            "c a";

        picture {
            @include breakpoint(tablet) {
                grid-area: a;
                position: relative;

                .editor-img {
                    @include breakpoint(tablet) {
                        display: none;
                    }
                }
            }
        }

        .section-card-1 {
            grid-area: b;
        }

        .section-card-2 {
            grid-area: c;
        }
    }
}

/**
* 1) did this so that the section ignores the padding applied
*    to the main container, so that it covers the whole width
*    of the body, in order to style the section-2 with a
*    background color without it looking funny ;)
* 2) added position relative so that I can center the 
*    wrapper, because when setting the width above 100%,
*    it moves from the center
*/
.section-2-wrapper {
    @include set-mb($m-b-l);

    position: relative; //2
    width: 125%; // 1
    left: 50%; //2
    transform: translateX(-50%); //2

    @include breakpoint(mobile-s) {
        width: 118%;
    }

    @include breakpoint(mobile-m) {
        width: 115%;
    }

    @include breakpoint(mobile-l) {
        width: 114%;
    }

    @include breakpoint(tablet) {
        margin-bottom: 22%;
    }

    @include breakpoint(laptop-s) {
        width: 120%;
    }

    @include breakpoint(laptop-m) {
        width: 128%;
    }

    @include breakpoint(laptop-l) {
        width: 132%;
    }

    img {
        position: absolute;
    }
    /**
    * subtracting a percentage to the width because:
    *  -the parent width is set to more than 100%
    *  -because of the parent width, the 105% set on all
    *   images, on this image becomes 105% of the parent width
    *   making it bigger than the other images
    */
    .phones-img {
        top: to-rem(-165);
        width: 125% - 30%;
        z-index: 100;

        @include breakpoint(mobile-m) {
            width: 125% - 35%;
        }

        @include breakpoint(mobile-l) {
            top: to-rem(-180);
            max-width: to-rem(491);
        }

        @include breakpoint(tablet) {
            width: 45%;
            left: 2.8%;
            top: to-rem(-100);
        }

        @include breakpoint(laptop-s) {
            max-width: to-rem(500);
            left: 5%;
        }

        @include breakpoint(laptop-m) {
            left: 6%;
        }

        @include breakpoint(laptop-l) {
            left: 8%;
        }
    }
}

/*
* 1) added more curve to the border radius because the
*    this section's width is more than 100% of the body,
*    which caused the border-radius curve to look smaller
*    than intended 
*
* 2) added left + right padding so that the padding of the 
*    paragraph in this section looks similar to the paragraphs  
*    in the other section  
*/
.section-2 {
    $more-curve: 30; // 1

    background: linear-gradient(
        lighten($v-d-gray-blue, 0%),
        lighten($v-d-desat-blue, 0%)
    );
    border-top-right-radius: to-rem($curve-val + $more-curve);
    border-bottom-left-radius: to-rem($curve-val + $more-curve);
    overflow: hidden; // because section is more than 100% of body
    padding: 0 10%; // 2
    padding-top: 54%;
    padding-bottom: to-rem(102);
    margin: 0 auto;
    position: relative;
    width: 98%;
    z-index: -2; // so the the background-img (circles) can be above this section

    @include breakpoint(mobile-l) {
        border-top-right-radius: to-rem(145);
        border-bottom-left-radius: to-rem(145);
    }

    @include breakpoint(tablet) {
        @include --flex;

        border-top-right-radius: to-rem(125);
        border-bottom-left-radius: to-rem(125);
        flex-direction: row-reverse;
        padding: to-rem(58) 0;
        padding-right: 4%;
    }

    @include breakpoint(laptop-s) {
        padding-right: 0;
    }

    @media (min-width: to-em(902)) {
        padding: to-rem(80) 0;
        padding-right: 4%;
    }

    .background-img {
        top: to-rem(-180);
        width: 150%;
        z-index: -1;

        @include breakpoint(mobile-m) {
            width: 145%;
        }

        @include breakpoint(mobile-l) {
            max-width: to-rem(733);
            top: to-rem(-195);
        }

        @include breakpoint(tablet) {
            left: to-rem(-140);
            top: to-rem(-350);
        }
    }

    .section-card {
        &__heading {
            color: $white;

            @include breakpoint(laptop-m) {
                font-size: to-rem(30);
            }
        }
        .paragraph {
            color: $grayish-blue;
        }

        @include breakpoint(tablet) {
            width: 50%;
        }
    }
}

.section-3 {
    @include breakpoint(tablet) {
        @include --grid;

        gap: to-rem(30) 7%;
        grid-template-columns: 40% 53%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "a b"
            "a c";

        picture {
            @include breakpoint(tablet) {
                grid-area: a;
                position: relative;

                .laptop-img {
                    @include breakpoint(tablet) {
                        display: none;
                    }
                }
            }
        }

        .section-card-1 {
            grid-area: b;
        }

        .section-card-2 {
            grid-area: c;
        }
    }
}
