%btn {
    border-radius: 25px;
    display: inline-block;
    font-family: $font-ubuntu;
    font-weight: 700;
    padding: to-rem(10) to-rem(12);
    text-align: center;
    transition: all 0.2s;
    min-width: 120px;

}

.login-btn,
.sign-up-btn,
.start-btn,
.learn-m-btn {
    @extend %btn;
}

.menu {

    .login-btn {
        background: transparent;
        display: block;
        position: relative;
        margin-bottom: to-rem(9.6);
        left: 50%;
        transform: translateX(-50%);
        transition: background-color 5s;

        &:hover {
            background: linear-gradient(to right, $v-l-red, $l-red);
            color: $white;
        }
    }

    .sign-up-btn {
        background: linear-gradient(to right, $v-l-red, $l-red);
        color: $white;

        &:hover {
            filter: brightness(125%);
        }
    }
}

.cta-section {  

    .start-btn {
        background: white;
        color: $l-red;
        margin-right: to-rem(12);

        &:hover {
            background: $v-l-red;
            color: $white;
        }
    }

    .learn-m-btn {
        border: 1px solid $white;

        &:hover {
            background: $v-l-red;
            border-color: $v-l-red;
        }
    }

}