.menu {
    background: $white;
    border-radius: 4px;
    box-shadow: 4px 8px 14px 7px rgba(0, 0, 0, 0.212),
        -4px 8px 14px 7px rgba(0, 0, 0, 0.212);
    color: $v-d-desat-blue;
    left: 50%;
    opacity: 0;
    padding-bottom: to-rem(20.8);
    position: fixed;
    text-align: center;
    top: to-rem(16);
    transform: translate(-50%, 32px);
    visibility: hidden;
    width: 90%;

    hr {
        border: 1px solid $grayish-blue;
        display: inline-block;
        margin-bottom: to-rem(8);
        width: 87%;
    }

    
}

// applied when menu is open
    .animated {
        animation: slide-out 0.2s ease-in-out forwards,
            fade-out 0.3s ease-in-out forwards;
    }